<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#split-categorical,-discrete-and-numerical-features" data-toc-modified-id="split-categorical,-discrete-and-numerical-features-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>split categorical, discrete and numerical features</a></span></li><li><span><a href="#Convert-categorical-using-LabelEncoder" data-toc-modified-id="Convert-categorical-using-LabelEncoder-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Convert categorical using LabelEncoder</a></span></li><li><span><a href="#Create-more-features" data-toc-modified-id="Create-more-features-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create more features</a></span><ul class="toc-item"><li><span><a href="#Term:-total-credit-/-annuity" data-toc-modified-id="Term:-total-credit-/-annuity-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Term: total credit / annuity</a></span></li><li><span><a href="#OVER_EXPECT_CREDIT:-actual-credit-larger-than-goods-price" data-toc-modified-id="OVER_EXPECT_CREDIT:-actual-credit-larger-than-goods-price-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>OVER_EXPECT_CREDIT: actual credit larger than goods price</a></span></li><li><span><a href="#MEAN_BUILDING_SCORE_TOTAL:-the-sum-of-all-building-AVG-score" data-toc-modified-id="MEAN_BUILDING_SCORE_TOTAL:-the-sum-of-all-building-AVG-score-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>MEAN_BUILDING_SCORE_TOTAL: the sum of all building AVG score</a></span></li><li><span><a href="#FLAG_DOCUMENT_TOTAL:-the-total-number-of-provided-document" data-toc-modified-id="FLAG_DOCUMENT_TOTAL:-the-total-number-of-provided-document-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>FLAG_DOCUMENT_TOTAL: the total number of provided document</a></span></li><li><span><a href="#AMT_REQ_CREDIT_BUREAU_TOTAL:-the-total-number-of-enquiries" data-toc-modified-id="AMT_REQ_CREDIT_BUREAU_TOTAL:-the-total-number-of-enquiries-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>AMT_REQ_CREDIT_BUREAU_TOTAL: the total number of enquiries</a></span></li><li><span><a href="#BIRTH_EMPLOTED_INTERVEL:-the-days-between-born-and-employed" data-toc-modified-id="BIRTH_EMPLOTED_INTERVEL:-the-days-between-born-and-employed-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>BIRTH_EMPLOTED_INTERVEL: the days between born and employed</a></span></li></ul></li><li><span><a href="#Missing-values" data-toc-modified-id="Missing-values-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Missing values</a></span><ul class="toc-item"><li><span><a href="#Imputing-missing-values" data-toc-modified-id="Imputing-missing-values-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Imputing missing values</a></span></li></ul></li><li><span><a href="#Standard-Scaler" data-toc-modified-id="Standard-Scaler-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Standard Scaler</a></span></li><li><span><a href="#Saving-files" data-toc-modified-id="Saving-files-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Saving files</a></span></li><li><span><a href="#Building-the-pipeline" data-toc-modified-id="Building-the-pipeline-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Building the pipeline</a></span><ul class="toc-item"><li><span><a href="#Transform-the-function-into-transformers" data-toc-modified-id="Transform-the-function-into-transformers-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Transform the function into transformers</a></span></li><li><span><a href="#Pipeline-compilation" data-toc-modified-id="Pipeline-compilation-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Pipeline compilation</a></span></li><li><span><a href="#Pipeline-saving" data-toc-modified-id="Pipeline-saving-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Pipeline saving</a></span></li></ul></li></ul></div>

In [40]:
import pandas as pd
import numpy as np
import warnings
from pickle import dump

In [2]:
warnings.filterwarnings("ignore")

In [3]:
application_train = pd.read_csv('input/application_train.csv')
application_test= pd.read_csv('input/application_test.csv')

# split categorical, discrete and numerical features

In [4]:
def feature_type_split(data, special_list=[]):
    cat_list = []
    dis_num_list = []
    num_list = []
    for i in data.columns.tolist():
        if data[i].dtype == 'object':
            cat_list.append(i)
        elif data[i].nunique() < 25:
            dis_num_list.append(i)
        elif i in special_list:     # if you want to add some special cases
            dis_num_list.append(i)
        else:
            num_list.append(i)
    return cat_list, dis_num_list, num_list
cat_list, dis_num_list, num_list = feature_type_split(application_train, special_list=['AMT_REQ_CREDIT_BUREAU_YEAR'])

In [5]:
print(str(len(cat_list)),'categorical features:', cat_list)
print('-----------------------------------------')
print(str(len(dis_num_list)),'discrete numerical features:',dis_num_list)
print('-----------------------------------------')
print(str(len(num_list)),'continuous numerical features:',num_list)

16 categorical features: ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
-----------------------------------------
46 discrete numerical features: ['TARGET', 'CNT_CHILDREN', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'DEF_30_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
-----------------------------------------
60 continuous numerical features: ['SK_ID_CURR', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE']

# Convert categorical using LabelEncoder

In [6]:
print(application_train.shape)
print(application_test.shape)

(307511, 122)
(48744, 121)

 #  Create more features

## Term: total credit / annuity

In [7]:
# some new features
application_train['TERM'] = application_train.AMT_CREDIT / application_train.AMT_ANNUITY
application_test['TERM'] = application_test.AMT_CREDIT / application_test.AMT_ANNUITY

## OVER_EXPECT_CREDIT: actual credit larger than goods price

In [8]:
application_train['OVER_EXPECT_CREDIT'] = (application_train.AMT_CREDIT > application_train.AMT_GOODS_PRICE).map({False:0, True:1})
application_test['OVER_EXPECT_CREDIT'] = (application_test.AMT_CREDIT > application_test.AMT_GOODS_PRICE).map({False:0, True:1})

## MEAN_BUILDING_SCORE_TOTAL: the sum of all building AVG score

In [9]:
application_train['MEAN_BUILDING_SCORE_AVG'] = application_train.iloc[:, 44:58].mean(skipna=True, axis=1)
application_train['TOTAL_BUILDING_SCORE_AVG'] = application_train.iloc[:, 44:58].sum(skipna=True, axis=1)
application_test['MEAN_BUILDING_SCORE_AVG'] = application_test.iloc[:, 44:58].mean(skipna=True, axis=1)
application_test['TOTAL_BUILDING_SCORE_AVG'] = application_test.iloc[:, 44:58].sum(skipna=True, axis=1)

## FLAG_DOCUMENT_TOTAL: the total number of provided document

In [10]:
application_train['FLAG_DOCUMENT_TOTAL'] = application_train.iloc[:, 96:116].sum(axis=1)
application_test['FLAG_DOCUMENT_TOTAL'] = application_test.iloc[:, 96:116].sum(axis=1)

## AMT_REQ_CREDIT_BUREAU_TOTAL: the total number of enquiries

In [11]:
application_train['AMT_REQ_CREDIT_BUREAU_TOTAL'] = application_train.iloc[:, 116:122].sum(axis=1)
application_test['AMT_REQ_CREDIT_BUREAU_TOTAL'] = application_test.iloc[:, 116:122].sum(axis=1)

## BIRTH_EMPLOTED_INTERVEL: the days between born and employed

In [12]:
application_train['BIRTH_EMPLOTED_INTERVEL'] = application_train.DAYS_EMPLOYED - application_train.DAYS_BIRTH
application_test['BIRTH_EMPLOTED_INTERVEL'] = application_test.DAYS_EMPLOYED - application_test.DAYS_BIRTH

In [13]:
application_train['BIRTH_REGISTRATION_INTERVEL'] = application_train.DAYS_REGISTRATION - application_train.DAYS_BIRTH
application_test['BIRTH_REGISTRATION_INTERVEL'] = application_test.DAYS_REGISTRATION - application_test.DAYS_BIRTH

In [14]:
application_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TERM,OVER_EXPECT_CREDIT,MEAN_BUILDING_SCORE_AVG,TOTAL_BUILDING_SCORE_AVG,FLAG_DOCUMENT_TOTAL,AMT_REQ_CREDIT_BUREAU_TOTAL,BIRTH_EMPLOTED_INTERVEL,BIRTH_REGISTRATION_INTERVEL
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,1.0,16.461104,1,0.144336,2.0207,1,1.0,8824,5813.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,0.0,36.234085,1,0.206343,2.8888,1,0.0,15577,15579.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,20.000000,0,NaN,0.0000,0,0.0,18821,14786.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,10.532818,1,NaN,0.0000,1,0.0,15966,9172.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,23.461618,0,NaN,0.0000,1,0.0,16894,15621.0

In [15]:
application_train['MEAN_BUILDING_SCORE_AVG'] = application_train.iloc[:, 44:58].mean(skipna=True, axis=1)
application_train['TOTAL_BUILDING_SCORE_AVG'] = application_train.iloc[:, 44:58].sum(skipna=True, axis=1)
application_test['MEAN_BUILDING_SCORE_AVG'] = application_test.iloc[:, 44:58].mean(skipna=True, axis=1)
application_test['TOTAL_BUILDING_SCORE_AVG'] = application_test.iloc[:, 44:58].sum(skipna=True, axis=1)
application_train['INCOME_PER_FAMILY_MEMBER'] = application_train.AMT_INCOME_TOTAL / application_train.CNT_FAM_MEMBERS
application_test['INCOME_PER_FAMILY_MEMBER'] = application_test.AMT_INCOME_TOTAL / application_test.CNT_FAM_MEMBERS
application_train['SEASON_REMAINING'] = application_train.AMT_INCOME_TOTAL/4 -  application_train.AMT_ANNUITY
application_test['SEASON_REMAINING'] = application_test.AMT_INCOME_TOTAL/4 -  application_test.AMT_ANNUITY
application_train['RATIO_INCOME_GOODS'] = application_train.AMT_INCOME_TOTAL -  application_train.AMT_GOODS_PRICE
application_test['RATIO_INCOME_GOODS'] = application_test.AMT_INCOME_TOTAL -  application_test.AMT_GOODS_PRICE
application_train['CHILDREN_RATIO'] = application_train['CNT_CHILDREN'] / application_train['CNT_FAM_MEMBERS']
application_test['CHILDREN_RATIO'] = application_test['CNT_CHILDREN'] / application_test['CNT_FAM_MEMBERS']

# convert categorical variables to numericals
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
def label_encoder(input_df, encoder_dict=None):
    """ Process a dataframe into a form useable by LightGBM """
    # Label encode categoricals
    categorical_feats = input_df.columns[input_df.dtypes == 'object']
    for feat in categorical_feats:
        encoder = LabelEncoder()
        input_df[feat] = encoder.fit_transform(input_df[feat].fillna('NULL'))
    return input_df, categorical_feats.tolist(), encoder_dict
application_train, categorical_feats, encoder_dict = label_encoder(application_train)
application_test, categorical_feats, encoder_dict = label_encoder(application_test)

# Missing values

In [16]:
def isnan(data, aff_glob=True, aff_col=False):
    taille = len(data)
    nulle = []
    nbr_moy = []
    for i in data.columns:
        if any(pd.isna(data[i])):
            nbr = len(data[i])-len(data[i].dropna())
            if aff_glob == True:
                print("La colonne '{}'".format(i), "comporte", nbr, "/ {}".format(taille), "valeur(s) manquante(s)")
                print("Ce qui représente {}%".format(nbr/taille*100))
            if aff_col == True:
                print("La colonne '{}' comporte des valeurs manquantes".format(i))
            col = data[i]
            nulle.append(col)
            nbr_moy.append(nbr)
            
    nbr_moy = pd.DataFrame(nbr_moy, columns=['Nbr']).mean()
    print(len(nulle), "colonnes au total possèdent des valeurs manquantes")
    print(nbr_moy[0], "/ {}".format(taille), "valeurs sont manquantes en moyenne dans chaque colonne")

In [17]:
isnan(application_train)

La colonne 'AMT_ANNUITY' comporte 12 / 307511 valeur(s) manquante(s)
Ce qui représente 0.003902299429939092%
La colonne 'AMT_GOODS_PRICE' comporte 278 / 307511 valeur(s) manquante(s)
Ce qui représente 0.09040327012692229%
La colonne 'OWN_CAR_AGE' comporte 202929 / 307511 valeur(s) manquante(s)
Ce qui représente 65.9908100848425%
La colonne 'CNT_FAM_MEMBERS' comporte 2 / 307511 valeur(s) manquante(s)
Ce qui représente 0.0006503832383231819%
La colonne 'EXT_SOURCE_1' comporte 173378 / 307511 valeur(s) manquante(s)
Ce qui représente 56.381072546998325%
La colonne 'EXT_SOURCE_2' comporte 660 / 307511 valeur(s) manquante(s)
Ce qui représente 0.21462646864665005%
La colonne 'EXT_SOURCE_3' comporte 60965 / 307511 valeur(s) manquante(s)
Ce qui représente 19.825307062186393%
La colonne 'APARTMENTS_AVG' comporte 156061 / 307511 valeur(s) manquante(s)
Ce qui représente 50.74972927797705%
La colonne 'BASEMENTAREA_AVG' comporte 179943 / 307511 valeur(s) manquante(s)
Ce qui représente 58.51595552679416%
La colonne 'YEARS_BEGINEXPLUATATION_AVG' comporte 150007 / 307511 valeur(s) manquante(s)
Ce qui représente 48.781019215572776%
La colonne 'YEARS_BUILD_AVG' comporte 204488 / 307511 valeur(s) manquante(s)
Ce qui représente 66.49778381911543%
La colonne 'COMMONAREA_AVG' comporte 214865 / 307511 valeur(s) manquante(s)
Ce qui représente 69.87229725115525%
La colonne 'ELEVATORS_AVG' comporte 163891 / 307511 valeur(s) manquante(s)
Ce qui représente 53.29597965601231%
La colonne 'ENTRANCES_AVG' comporte 154828 / 307511 valeur(s) manquante(s)
Ce qui représente 50.3487680115508%
La colonne 'FLOORSMAX_AVG' comporte 153020 / 307511 valeur(s) manquante(s)
Ce qui représente 49.76082156410665%
La colonne 'FLOORSMIN_AVG' comporte 208642 / 307511 valeur(s) manquante(s)
Ce qui représente 67.84862980511267%
La colonne 'LANDAREA_AVG' comporte 182590 / 307511 valeur(s) manquante(s)
Ce qui représente 59.376737742714894%
La colonne 'LIVINGAPARTMENTS_AVG' comporte 210199 / 307511 valeur(s) manquante(s)
Ce qui représente 68.35495315614726%
La colonne 'LIVINGAREA_AVG' comporte 154350 / 307511 valeur(s) manquante(s)
Ce qui représente 50.193326417591564%
La colonne 'NONLIVINGAPARTMENTS_AVG' comporte 213514 / 307511 valeur(s) manquante(s)
Ce qui représente 69.43296337366793%
La colonne 'NONLIVINGAREA_AVG' comporte 169682 / 307511 valeur(s) manquante(s)
Ce qui représente 55.17916432257708%
La colonne 'APARTMENTS_MODE' comporte 156061 / 307511 valeur(s) manquante(s)
Ce qui représente 50.74972927797705%
La colonne 'BASEMENTAREA_MODE' comporte 179943 / 307511 valeur(s) manquante(s)
Ce qui représente 58.51595552679416%
La colonne 'YEARS_BEGINEXPLUATATION_MODE' comporte 150007 / 307511 valeur(s) manquante(s)
Ce qui représente 48.781019215572776%
La colonne 'YEARS_BUILD_MODE' comporte 204488 / 307511 valeur(s) manquante(s)
Ce qui représente 66.49778381911543%
La colonne 'COMMONAREA_MODE' comporte 214865 / 307511 valeur(s) manquante(s)
Ce qui représente 69.87229725115525%
La colonne 'ELEVATORS_MODE' comporte 163891 / 307511 valeur(s) manquante(s)
Ce qui représente 53.29597965601231%
La colonne 'ENTRANCES_MODE' comporte 154828 / 307511 valeur(s) manquante(s)
Ce qui représente 50.3487680115508%
La colonne 'FLOORSMAX_MODE' comporte 153020 / 307511 valeur(s) manquante(s)
Ce qui représente 49.76082156410665%
La colonne 'FLOORSMIN_MODE' comporte 208642 / 307511 valeur(s) manquante(s)
Ce qui représente 67.84862980511267%
La colonne 'LANDAREA_MODE' comporte 182590 / 307511 valeur(s) manquante(s)
Ce qui représente 59.376737742714894%
La colonne 'LIVINGAPARTMENTS_MODE' comporte 210199 / 307511 valeur(s) manquante(s)
Ce qui représente 68.35495315614726%
La colonne 'LIVINGAREA_MODE' comporte 154350 / 307511 valeur(s) manquante(s)
Ce qui représente 50.193326417591564%
La colonne 'NONLIVINGAPARTMENTS_MODE' comporte 213514 / 307511 valeur(s) manquante(s)
Ce qui représente 69.43296337366793%
La colonne 'NONLIVINGAREA_MODE' comporte 169682 / 307511 valeur(s) manquante(s)
Ce qui représente 55.17916432257708%
La colonne 'APARTMENTS_MEDI' comporte 156061 / 307511 valeur(s) manquante(s)
Ce qui représente 50.74972927797705%
La colonne 'BASEMENTAREA_MEDI' comporte 179943 / 307511 valeur(s) manquante(s)
Ce qui représente 58.51595552679416%
La colonne 'YEARS_BEGINEXPLUATATION_MEDI' comporte 150007 / 307511 valeur(s) manquante(s)
Ce qui représente 48.781019215572776%
La colonne 'YEARS_BUILD_MEDI' comporte 204488 / 307511 valeur(s) manquante(s)
Ce qui représente 66.49778381911543%
La colonne 'COMMONAREA_MEDI' comporte 214865 / 307511 valeur(s) manquante(s)
Ce qui représente 69.87229725115525%
La colonne 'ELEVATORS_MEDI' comporte 163891 / 307511 valeur(s) manquante(s)
Ce qui représente 53.29597965601231%
La colonne 'ENTRANCES_MEDI' comporte 154828 / 307511 valeur(s) manquante(s)
Ce qui représente 50.3487680115508%
La colonne 'FLOORSMAX_MEDI' comporte 153020 / 307511 valeur(s) manquante(s)
Ce qui représente 49.76082156410665%
La colonne 'FLOORSMIN_MEDI' comporte 208642 / 307511 valeur(s) manquante(s)
Ce qui représente 67.84862980511267%
La colonne 'LANDAREA_MEDI' comporte 182590 / 307511 valeur(s) manquante(s)
Ce qui représente 59.376737742714894%
La colonne 'LIVINGAPARTMENTS_MEDI' comporte 210199 / 307511 valeur(s) manquante(s)
Ce qui représente 68.35495315614726%
La colonne 'LIVINGAREA_MEDI' comporte 154350 / 307511 valeur(s) manquante(s)
Ce qui représente 50.193326417591564%
La colonne 'NONLIVINGAPARTMENTS_MEDI' comporte 213514 / 307511 valeur(s) manquante(s)
Ce qui représente 69.43296337366793%
La colonne 'NONLIVINGAREA_MEDI' comporte 169682 / 307511 valeur(s) manquante(s)
Ce qui représente 55.17916432257708%
La colonne 'TOTALAREA_MODE' comporte 148431 / 307511 valeur(s) manquante(s)
Ce qui représente 48.26851722377411%
La colonne 'OBS_30_CNT_SOCIAL_CIRCLE' comporte 1021 / 307511 valeur(s) manquante(s)
Ce qui représente 0.3320206431639844%
La colonne 'DEF_30_CNT_SOCIAL_CIRCLE' comporte 1021 / 307511 valeur(s) manquante(s)
Ce qui représente 0.3320206431639844%
La colonne 'OBS_60_CNT_SOCIAL_CIRCLE' comporte 1021 / 307511 valeur(s) manquante(s)
Ce qui représente 0.3320206431639844%
La colonne 'DEF_60_CNT_SOCIAL_CIRCLE' comporte 1021 / 307511 valeur(s) manquante(s)
Ce qui représente 0.3320206431639844%
La colonne 'DAYS_LAST_PHONE_CHANGE' comporte 1 / 307511 valeur(s) manquante(s)
Ce qui représente 0.00032519161916159093%
La colonne 'AMT_REQ_CREDIT_BUREAU_HOUR' comporte 41519 / 307511 valeur(s) manquante(s)
Ce qui représente 13.501630835970097%
La colonne 'AMT_REQ_CREDIT_BUREAU_DAY' comporte 41519 / 307511 valeur(s) manquante(s)
Ce qui représente 13.501630835970097%
La colonne 'AMT_REQ_CREDIT_BUREAU_WEEK' comporte 41519 / 307511 valeur(s) manquante(s)
Ce qui représente 13.501630835970097%
La colonne 'AMT_REQ_CREDIT_BUREAU_MON' comporte 41519 / 307511 valeur(s) manquante(s)
Ce qui représente 13.501630835970097%
La colonne 'AMT_REQ_CREDIT_BUREAU_QRT' comporte 41519 / 307511 valeur(s) manquante(s)
Ce qui représente 13.501630835970097%
La colonne 'AMT_REQ_CREDIT_BUREAU_YEAR' comporte 41519 / 307511 valeur(s) manquante(s)
Ce qui représente 13.501630835970097%
La colonne 'TERM' comporte 12 / 307511 valeur(s) manquante(s)
Ce qui représente 0.003902299429939092%
La colonne 'MEAN_BUILDING_SCORE_AVG' comporte 148810 / 307511 valeur(s) manquante(s)
Ce qui représente 48.391764847436356%
La colonne 'INCOME_PER_FAMILY_MEMBER' comporte 2 / 307511 valeur(s) manquante(s)
Ce qui représente 0.0006503832383231819%
La colonne 'SEASON_REMAINING' comporte 12 / 307511 valeur(s) manquante(s)
Ce qui représente 0.003902299429939092%
La colonne 'RATIO_INCOME_GOODS' comporte 278 / 307511 valeur(s) manquante(s)
Ce qui représente 0.09040327012692229%
La colonne 'CHILDREN_RATIO' comporte 2 / 307511 valeur(s) manquante(s)
Ce qui représente 0.0006503832383231819%
67 colonnes au total possèdent des valeurs manquantes
127421.04477611941 / 307511 valeurs sont manquantes en moyenne dans chaque colonne

## Imputing missing values

In [18]:
from sklearn.impute import SimpleImputer

In [19]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean2 = SimpleImputer(missing_values=np.nan, strategy='mean')

application_train_cleaned = imp_mean.fit_transform(application_train)
application_train_cleaned = pd.DataFrame(application_train_cleaned,
                                         columns=application_train.columns,
                                         index=application_train.index)

application_test_cleaned = imp_mean2.fit_transform(application_test)
application_test_cleaned = pd.DataFrame(application_test_cleaned,
                                        columns=application_test.columns,
                                        index=application_test.index)

In [20]:
isnan(application_train_cleaned)

0 colonnes au total possèdent des valeurs manquantes
nan / 307511 valeurs sont manquantes en moyenne dans chaque colonne

# Standard Scaler

In [21]:
from sklearn import preprocessing

In [22]:
x = application_train_cleaned.drop(columns=['TARGET'])
y = application_train_cleaned.TARGET

In [23]:
std_scale = preprocessing.StandardScaler().fit(x)
x = std_scale.transform(x)

# Saving files

In [24]:
pd.DataFrame(x).to_csv('cleaned_data/x.csv')
pd.DataFrame(y).to_csv('cleaned_data/y.csv')

# Building the pipeline

In [25]:
application_train = pd.read_csv('input/application_train.csv')
application_test = pd.read_csv('input/application_test.csv')

In [26]:
X = application_train.set_index('SK_ID_CURR').drop(columns=['TARGET'])
y = application_train.set_index('SK_ID_CURR')['TARGET']
X_test = application_test.set_index('SK_ID_CURR')

In [27]:
x_col = X.columns
x_index = X.index

In [28]:
from sklearn.pipeline import Pipeline, make_pipeline

## Transform the function into transformers

In [29]:
from sklearn.base import BaseEstimator, TransformerMixin, clone

In [30]:
class DataFrameFeatureUnion(BaseEstimator, TransformerMixin):
    """ A DataFrame transformer that unites several DataFrame transformers
    
    Fit several DataFrame transformers and provides a concatenated
    Data Frame
    
    Parameters
    ----------
    list_of_transformers : list of DataFrameTransformers
        
    """ 
    def __init__(self, list_of_transformers):
        self.list_of_transformers = list_of_transformers
        
    def transform(self, X, **transformparamn):
        """ Applies the fitted transformers on a DataFrame
        
        Parameters
        ----------
        X : pandas DataFrame
        
        Returns
        ----------
        concatted :  pandas DataFrame
        
        """
        concatted = pd.concat([transformer.transform(X)
                            for transformer in
                            self.fitted_transformers_], axis=1).copy()
        return concatted


    def fit(self, X, y=None, **fitparams):
        """ Fits several DataFrame Transformers
        
        Parameters
        ----------
        X : pandas DataFrame
        y : not used, API requirement
        
        Returns
        ----------
        self : object
        """
        
        self.fitted_transformers_ = []
        for transformer in self.list_of_transformers:
            fitted_trans = clone(transformer).fit(X, y=None, **fitparams)
            self.fitted_transformers_.append(fitted_trans)
        return self

In [123]:
class SelectColumnsTransfomer(BaseEstimator, TransformerMixin):
    """ A DataFrame transformer that provides column selection
    
    Allows to select columns by name from pandas dataframes in scikit-learn
    pipelines.
    
    Parameters
    ----------
    columns : list of str, names of the dataframe columns to select
        Default: [] 
    
    """
    def __init__(self, columns=[]):
        self.columns = columns

    def transform(self, X, **transform_params):
        """ Selects columns of a DataFrame
        
        Parameters
        ----------
        X : pandas DataFrame
            
        Returns
        ----------
        
        trans : pandas DataFrame
            contains selected columns of X      
        """
        trans = X[self.columns].copy() 
        return trans

    def fit(self, X, y=None, **fit_params):
        """ Do nothing function
        
        Parameters
        ----------
        X : pandas DataFrame
        y : default None
                
        
        Returns
        ----------
        self  
        """
        return self
    
class DataFrameFunctionTransformer(BaseEstimator, TransformerMixin):
    """ A DataFrame transformer providing imputation or function application
    
    Parameters
    ----------
    impute : Boolean, default False
        
    func : function that acts on an array of the form [n_elements, 1]
        if impute is True and the name is NULL, then the null values must be replaced by 'NULL'
        Otherwise, if fun='MEAN' null values needs to be replaced by np.mean
        if impute is false then we transform into category type
    
    """
    
    def __init__(self, func, impute = False):
        self.func = func
        self.impute = impute
        self.series = pd.Series() 

    def transform(self, X, **transformparams):
        """ Transforms a DataFrame
        
        Parameters
        ----------
        X : DataFrame
            
        Returns
        ----------
        trans : pandas DataFrame
            Transformation of X 
        """
        
        if self.impute:
            if self.func == 'NULL':
                trans = pd.DataFrame(X).fillna('NULL').copy()
            elif self.func == 'MEAN':
                mean = pd.DataFrame(X).mean()
                trans = pd.DataFrame(X).fillna(mean).copy()
            else:
                trans = pd.DataFrame(X).copy()
        else:
            if self.func == 'CATEG':
                trans = pd.DataFrame(X).astype('category').copy()
            else:
                trans = pd.DataFrame(X).copy()
        return trans

    def fit(self, X, y=None, **fitparams):
        """ Fixes the values to impute or does nothing
        
        Parameters
        ----------
        X : pandas DataFrame
        y : not used, API requirement
                
        Returns
        ----------
        self  
        """
        return self

    
class backToDf(BaseEstimator, TransformerMixin):
    """Class to transform np.array back to DataFrame"""
    
    def __init__(self, col):
        self.col = col

    def fit(self, X, y=None, **fitparams):
        try:
            df = pd.DataFrame(X, columns=self.col).copy()
        except:
            df = X.copy()
            print('error on fit')
        
        return df
    
    def transform(self, X, **transformparams):
        df = pd.DataFrame(X, columns=self.col).copy()
        #except:
        #    df = X.copy()
        #    print('error on transform')
            
        return df

## Pipeline compilation

Putting the Features Engineering into the pipeline will take a lot of time as it uses iloc and not the name of the columns. <br/>
I will implement it by hand at first and see if I have time to implement it inside the pipeline later on

In [115]:
X['TERM'] = X.AMT_CREDIT / X.AMT_ANNUITY
X['OVER_EXPECT_CREDIT'] = (X.AMT_CREDIT > X.AMT_GOODS_PRICE).map({False:0, True:1})
X['MEAN_BUILDING_SCORE_AVG'] = X.iloc[:, 44:58].mean(skipna=True, axis=1)
X['TOTAL_BUILDING_SCORE_AVG'] = X.iloc[:, 44:58].sum(skipna=True, axis=1)
X['FLAG_DOCUMENT_TOTAL'] = X.iloc[:, 96:116].sum(axis=1)
X['AMT_REQ_CREDIT_BUREAU_TOTAL'] = X.iloc[:, 116:122].sum(axis=1)
X['BIRTH_EMPLOTED_INTERVEL'] = X.DAYS_EMPLOYED - X.DAYS_BIRTH
X['BIRTH_REGISTRATION_INTERVEL'] = X.DAYS_REGISTRATION - X.DAYS_BIRTH
X['MEAN_BUILDING_SCORE_AVG'] = X.iloc[:, 44:58].mean(skipna=True, axis=1)
X['TOTAL_BUILDING_SCORE_AVG'] = X.iloc[:, 44:58].sum(skipna=True, axis=1)
X['INCOME_PER_FAMILY_MEMBER'] = X.AMT_INCOME_TOTAL / X.CNT_FAM_MEMBERS
X['SEASON_REMAINING'] = X.AMT_INCOME_TOTAL/4 -  X.AMT_ANNUITY
X['RATIO_INCOME_GOODS'] = X.AMT_INCOME_TOTAL -  X.AMT_GOODS_PRICE
X['CHILDREN_RATIO'] = X.CNT_CHILDREN / X.CNT_FAM_MEMBERS

Object Columns

In [124]:
object_columns = X.columns[X.dtypes == object].tolist()

categorical_cols_pipeline = make_pipeline(
        SelectColumnsTransfomer(object_columns),
        DataFrameFunctionTransformer('NULL', impute=True),
        DataFrameFunctionTransformer('CATEGORY'),
        OrdinalEncoder(),
        backToDf(object_columns))

Other Columns

In [117]:
remaining_cols = [x for x in X.columns.tolist() if x not in object_columns]

remaining_cols_pipeline = make_pipeline(
        SelectColumnsTransfomer(remaining_cols),
        DataFrameFunctionTransformer('MEAN', impute=True),
        preprocessing.StandardScaler(),
        backToDf(remaining_cols))

In [118]:
preprocessing_features = DataFrameFeatureUnion([categorical_cols_pipeline, remaining_cols_pipeline])

In [119]:
preprocessing_features.fit_transform(X).head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,...,MEAN_BUILDING_SCORE_AVG,TOTAL_BUILDING_SCORE_AVG,FLAG_DOCUMENT_TOTAL,AMT_REQ_CREDIT_BUREAU_TOTAL,BIRTH_EMPLOTED_INTERVEL,BIRTH_REGISTRATION_INTERVEL,INCOME_PER_FAMILY_MEMBER,SEASON_REMAINING,RATIO_INCOME_GOODS,CHILDREN_RATIO
0,0.0,1.0,0.0,1.0,7.0,7.0,4.0,3.0,1.0,8.0,...,-1.302167e+00,0.506545,-0.512120,-0.729235,-0.493236,-1.136267,1.079126,0.185937,0.544820,-0.628841
1,0.0,0.0,0.0,0.0,1.0,4.0,1.0,1.0,1.0,3.0,...,-3.576652e-01,1.100489,-0.512120,1.579029,-0.446341,0.982299,0.413268,0.286802,-1.207472,-0.628841
2,1.0,1.0,1.0,1.0,7.0,7.0,4.0,3.0,1.0,8.0,...,8.924583e-15,-0.884505,-0.512120,-0.540018,-0.423814,0.810271,-0.252591,-0.085225,0.744448,-0.628841
3,0.0,0.0,0.0,1.0,7.0,7.0,4.0,0.0,1.0,8.0,...,8.924583e-15,-0.884505,-0.512120,-1.581115,-0.443640,-0.407590,-0.252591,-0.189257,0.511548,-0.628841
4,0.0,1.0,0.0,1.0,7.0,7.0,4.0,3.0,1.0,3.0,...,8.924583e-15,-0.884505,1.698317,-0.114388,-0.437196,0.991410,0.280096,-0.112952,-0.054065,-0.628841

In [120]:
X_test['TERM'] = X_test.AMT_CREDIT / X_test.AMT_ANNUITY
X_test['OVER_EXPECT_CREDIT'] = (X_test.AMT_CREDIT > X_test.AMT_GOODS_PRICE).map({False:0, True:1})
X_test['MEAN_BUILDING_SCORE_AVG'] = X_test.iloc[:, 44:58].mean(skipna=True, axis=1)
X_test['TOTAL_BUILDING_SCORE_AVG'] = X_test.iloc[:, 44:58].sum(skipna=True, axis=1)
X_test['FLAG_DOCUMENT_TOTAL'] = X_test.iloc[:, 96:116].sum(axis=1)
X_test['AMT_REQ_CREDIT_BUREAU_TOTAL'] = X_test.iloc[:, 116:122].sum(axis=1)
X_test['BIRTH_EMPLOTED_INTERVEL'] = X_test.DAYS_EMPLOYED - X_test.DAYS_BIRTH
X_test['BIRTH_REGISTRATION_INTERVEL'] = X_test.DAYS_REGISTRATION - X_test.DAYS_BIRTH
X_test['MEAN_BUILDING_SCORE_AVG'] = X_test.iloc[:, 44:58].mean(skipna=True, axis=1)
X_test['TOTAL_BUILDING_SCORE_AVG'] = X_test.iloc[:, 44:58].sum(skipna=True, axis=1)
X_test['INCOME_PER_FAMILY_MEMBER'] = X_test.AMT_INCOME_TOTAL / X_test.CNT_FAM_MEMBERS
X_test['SEASON_REMAINING'] = X_test.AMT_INCOME_TOTAL/4 -  X_test.AMT_ANNUITY
X_test['RATIO_INCOME_GOODS'] = X_test.AMT_INCOME_TOTAL -  X_test.AMT_GOODS_PRICE
X_test['CHILDREN_RATIO'] = X_test.CNT_CHILDREN / X_test.CNT_FAM_MEMBERS

test = preprocessing_features.transform(X_test)

In [121]:
test.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,...,MEAN_BUILDING_SCORE_AVG,TOTAL_BUILDING_SCORE_AVG,FLAG_DOCUMENT_TOTAL,AMT_REQ_CREDIT_BUREAU_TOTAL,BIRTH_EMPLOTED_INTERVEL,BIRTH_REGISTRATION_INTERVEL,INCOME_PER_FAMILY_MEMBER,SEASON_REMAINING,RATIO_INCOME_GOODS,CHILDREN_RATIO
0,0.0,0.0,0.0,1.0,7.0,7.0,1.0,1.0,1.0,12.0,...,0.096722,0.088666,-0.512120,0.525365,-0.437071,0.655164,-0.252591,-0.032630,0.134473,-0.628841
1,0.0,1.0,0.0,1.0,7.0,7.0,4.0,1.0,1.0,9.0,...,0.042231,-0.884505,-0.512120,-0.930421,-0.460105,-0.456616,-0.430153,-0.132337,0.711177,-0.628841
2,0.0,1.0,1.0,1.0,3.0,7.0,1.0,1.0,1.0,4.0,...,0.042231,-0.884505,1.698317,-1.092649,-0.446321,1.477774,0.080338,-0.587698,-0.142788,-0.628841
3,0.0,0.0,0.0,1.0,7.0,7.0,4.0,1.0,1.0,15.0,...,1.441876,2.232119,-0.512120,1.320407,-0.470417,0.200690,-0.141615,0.251275,-2.194523,1.876453
4,0.0,1.0,1.0,0.0,7.0,7.0,4.0,1.0,1.0,12.0,...,0.042231,-0.884505,-0.512120,-0.600754,-0.479174,-0.436225,-0.326575,-0.037033,-0.187150,1.041355

## Pipeline saving

In [122]:
dump(preprocessing_features, open('preprocessing_features.pkl', 'wb'))